@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Lead Form</h1>
    <p class="lead">Click below to submit your details</p>
    <p>
        <a href="@Url.Action("Create", "Form")" class="btn btn-primary btn-lg">Click here &raquo;</a>
    </p>
</div>